.App {
	text-align: center;
}
body {
	/* background-color: rgba(66, 245, 233); */
	background: #83a4d4; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#b6fbff,
		#83a4d4
	) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	scroll-behavior: smooth;
}
.nav {
	width: 100%;
	height: 60px;
	background-color: rgba(245, 245, 245, 0.5);
	display: grid;
	place-items: center;
	/* box-shadow: 0px 5px 5px -2px black; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0;
}
ul {
	list-style-type: none;
}
li {
	float: left;
	padding-right: 25px;
	justify-content: center;
	align-items: center;
	transition: 0.2s ease-in;
	font-size: 25px;
	color: blue;
	/* box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); */

	/* text-decoration: none; */
}
li:hover {
	transform: scale(1.1);
}
/* li:active {
	color: blue;
} */

.hospital-container {
	margin-top: 80px;
}
.patient-container {
	margin-top: 80px;
}
.patient-form-container {
	margin-top: 80px;
}
.about-container {
	margin-top: 80px;
}
.contact-container {
	margin-top: 80px;
}
.home-container {
	margin-top: 80px;
}
.patient-card {
	background-color: rgba(245, 245, 245, 0.5);
	/* padding: 2px 16px; */
	margin-right: 450px;
	margin-left: 450px;
	margin-bottom: 20px;
	padding-bottom: 30px;
	padding-top: 10px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border: 10px solid rgba(0, 0, 0, 0.1);
	transition: 0.2s ease-in;
}
.patient-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	transform: scale(1.1);
	background-color: rgba(255, 255, 255, 0.9);
}
.patient-form {
	background-color: rgba(245, 245, 245, 0.5);
	margin-right: 200px;
	margin-left: 200px;
	padding-bottom: 20px;
	border-radius: 10px;
	border: 10px solid rgba(0, 0, 0, 0.1);
	/* width: 100%; */
	/* display: table; */
	/* clear: both; */
}
input {
	font-size: 16px;
	font-size: max(16px, 1em);
	font-family: inherit;
	padding: 0.25em 0.5em;
	background-color: #fff;
	border: 2px solid var(--input-border);
	border-radius: 4px;
	display: table-column;
}
textarea {
	font-size: 16px;
	font-size: max(16px, 1em);
	font-family: inherit;
	padding: 0.25em 0.5em;
	background-color: #fff;
	border: 2px solid var(--input-border);
	border-radius: 4px;
}
select {
	font-size: 16px;
	font-size: max(16px, 1em);
	font-family: inherit;
	padding: 0.25em 0.5em;
	background-color: #fff;
	border: 2px solid var(--input-border);
	border-radius: 4px;
}
.search {
	margin-bottom: 30px;
	font-size: 25px;
}
h1 {
	font-family: 'Encode Sans SC', sans-serif;
}
* {
	font-family: 'Noto Sans', sans-serif;
}
.submit {
	color: blue;
}
.delete {
	color: red;
}

.patient-show {
	background-color: rgba(245, 245, 245, 0.5);
	/* padding: 2px 16px; */
	margin-top: 100px;
	margin-right: 450px;
	margin-left: 450px;
	margin-bottom: 20px;
	padding-bottom: 30px;
	padding-top: 10px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border: 10px solid rgba(0, 0, 0, 0.1);
	transition: 0.2s ease-in;
}

.patient-form-h1 {
	color: blue;
}

.home-image {
	margin-right: 700px;
	margin-left: 75px;
	margin-top: 20px;
	background-color: white;
	padding-right: 100%;
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 10px;
}
img {
	border-radius: 10px;
	border: 3px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.home-logo {
	color: blue;
	font-family: 'Fira Sans', sans-serif;
	position: absolute;
	padding-left: 1400px;
	padding-top: 100px;
	z-index: 9;
	/* font-size: 20px; */

	/* padding-top: 50px; */
	/* margin-top: 70px; */
	/* margin-bottom: 300px; */
}
.emt-logo {
	position: absolute;
	bottom: 50px;
	left: 1225px;
	height: 750px;
	/* padding-bottom: 700px; */
	/* padding-bottom: 200px; */
	z-index: 1;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
